@using Colex.ViewModel;
@model MarcaExtintorViewModels;





@section Styles {
    <link rel="stylesheet" href="~/css/MarcaExtintor/MarcaExtintor.css" />
}

<div id="navegacao-div">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="~/Home/Index">
                    <i class="fa-solid fa-house" data-toggle="tooltip" data-placement="top" title="Home"></i>
                </a>
            </li>
            <li class="breadcrumb-item"><a href="~/MarcaExtintor/Index">Index</a></li>
            <li class="breadcrumb-item active" aria-current="page">Cadastrar</li>
        </ol>
    </nav>
</div>
<h1>Cadastrar marca de extintor</h1>
<div class="card mt-50" id="card-tabela">
    <div id="container-tabela">
        <form class="row" asp-controller="MarcaExtintor" asp-action="Cadastrar" method="post">
            <div class="col-md-4">
                <label asp-for="Nome" class="form-label">Nome da marca</label>
                <input asp-for="Nome" type="text" class="form-control" placeholder="Digite a marca">
            </div>

            <div class="col-12">
                <button id="botaoCadastrar" type="submit" class="btn btn-primary">Cadastrar</button>
            </div>
        </form>
    </div>
</div>  

@if (TempData["Success-MarcaExtintor"] != null)
{
    <span id="notify" class="d-none" data-type="success">@TempData["Success-MarcaExtintor"]</span>
}

@if (TempData["Error-MarcaExtintor"] != null)
{
    <span id="notify" class="d-none" data-type="error">@TempData["Error-MarcaExtintor"]</span>
}

@section Scripts{
    <script src="~/js/MarcaExtintor/MarcaExtintor.js"></script>
}