@using Colex.ViewModel
@model List<UsuarioViewModels>

@section Styles{
    <link rel="stylesheet" href="/css/Cliente/Index.css" />
    }


<div id="navegacao-div">
    <a id="novocliente-btn" class="btn btn-success" href="/Usuario/Cadastrar" role="button">Novo usuário</a>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="~/Home/Index">
                    <i class="fa-solid fa-house" data-toggle="tooltip" data-placement="top" title="Home"></i>
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Index</li>
        </ol>
    </nav>
</div>

<h1 class="m-20 fs-35">Cadastrar usuário</h1>
<div class="card" id="card-pesquisa">
    <h2>Pesquisar usuário</h2>

    <div class="col-md-6">
        <input type="text" class="form-control ml-15 mb-25 mt-15 fs-25 " placeholder="Digite o nome" aria-label="Digite o nome">
    </div>


</div>


<button class="btn btn-primary" type="submit">Pesquisar</button>



<div class="card mt-50" id="card-tabela">
    <div class="card-block pt-2 pb-2 m-25" id="div-tabela">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">CPF</th>
                    <th scope="col">Login</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                @foreach (UsuarioViewModels usuario in Model)
                {
                    <tr>
                        <td>@usuario.Nome</td>
                        <td>@usuario.CPF</td>
                        <td>@usuario.Login</td>
                        <td>
                            <a href="/usuario/detalhe?id=@usuario.IdUsuario">
                                <i class="fa-solid fa-circle-info fa-lg" data-toggle="tooltip" data-placement="top" title="Detalhe do usuário"></i>
                            </a>
                            <a href="/usuario/editar?id=@usuario.IdUsuario">
                                <i class="fa-solid fa-gear fa-lg" data-toggle="tooltip" data-placement="top" title="Alterar usuário"></i>
                            </a>
                        </td>
                    </tr>

                }

            </tbody>
        </table>
    </div>
</div>